################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KMC-Forge-BTL-API
.vscode/tasks.json
.vscode/launch.json
KMC-Forge-BTL-API/KMC-Forge-BTL-API/appsettings.Development.json
KMC-Forge-BTL-API/KMC-Forge-BTL-API/appsettings.Development.json
KMC-Forge-BTL-API/KMC-Forge-BTL-API/appsettings.Development.json
KMC-Forge-BTL-API/KMC-Forge-BTL-API/appsettings.json
